@{
    ViewData["Title"] = "Register Member";
    Layout = "_Layout_confirmation";
 }

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        Saved Member Data!!, Thank You
    </div>
</div>
